.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s linear;
}

.error-popup_opened {
  display: flex;
  height: 100%;
  transition-delay: 0s, 0s;
  z-index: 200;
  opacity: 1;
}

.error-popup__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  width: 350px;
  height: 260px;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px;
}

@media screen and (max-width: 586px) {
  .error-popup__container {
    width: 262px;
    height: 252px;
  }
}

.error-popup__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url('../../images/error-popup__close-icon.svg');
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  content: ' ';
  cursor: pointer;
  z-index: 11;
  transition: 0.2s linear;
}

.error-popup__close-icon:hover {
  opacity: 0.5;
  transition: 0.2s linear;
}

@media screen and (max-width: 586px) {
  .error-popup__close-icon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: -35px;
    right: 0;
  }
}

.error-popup__title {
  margin: 34px auto 0;
  padding: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

@media screen and (max-width: 586px) {
  .error-popup__title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px auto 0;
  }
}

.error-popup__subtitle {
  margin: 15px auto 0;
  padding: 0;
  width: 70%;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 29.05px;
}

@media screen and (max-width: 586px) {
  .error-popup__subtitle {
    font-size: 12px;
    width: 80%;
  }
}

.error-popup__logo {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
  opacity: 0.6;
}
