.promo {
  margin: -76px 0 0;
  padding: 0;
  min-height: 634px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #5c5c5c;
  overflow: hidden; /* сделано для корректного отображения .promo__image как на макете */
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 918px;
  }
}

@media screen and (max-width: 680px) {
  .promo {
    min-height: 704px;
  }
}

.promo__title {
  margin: 124px 0 0 70px;
  padding: 0;
  width: 626px;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: white;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin: 318px auto 0;
    text-align: center;
  }
}

@media screen and (max-width: 680px) {
  .promo__title {
    margin: 318px auto 0;
    max-width: 500px;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .promo__title {
    margin-top: 294px;
    max-width: 300px;
  }
}

.promo__image {
  margin: 102px 70px 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .promo__image {
    margin: 140px auto 0;
    height: 230px;
    width: 680px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 680px) {
  .promo__image {
    margin-top: 23px;
    height: 430px;
    width: 520px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 580px) {
  .promo__image {
    height: 230px;
    width: 620px;
  }
}

@media screen and (max-width: 340px) {
  .promo__image {
    margin-left: -160px;
  }
}
