.movies {
  width: 100%;
  max-width: 1280px;
  margin: 88px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .movies {
    margin-top: 98px;
  }
}

.section__wrapper_type_movies {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .section__wrapper_type_movies {
    width: 92.1%;
  }
}

.search__form {
  margin: 0;
  min-height: 72px;
  width: 100%;
  display: flex;
  background: #fdfdfd;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

@media screen and (max-width: 760px) {
  .search__form {
    background-color: transparent;
    box-shadow: none;
  }
}

.search__form-set {
  margin: auto 30px auto 19px;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: transparent;
  border: 0;
}

@media screen and (max-width: 760px) {
  .search__form-set {
    flex-direction: column;
    margin: auto;
  }
}

.search__form__container {
  border-right: 1px solid #cbcbcb;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0 19px 0 0;
  width: 80%;
  max-width: 860px;
}

@media screen and (max-width: 760px) {
  .search__form__container {
    margin: 0 auto 0;
    padding: 19px;
    width: 90%;
    border-right: 0;
    background: #fdfdfd;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 430px) {
  .search__form__container {
    max-width: 232px;
    justify-content: flex-start;
  }
}

.search__form__image {
  margin: 0;
  padding: 0;
  height: 34px;
  width: 34px;
}

@media screen and (max-width: 760px) {
  .search__form__image {
    display: none;
  }
}

.search__form__input {
  margin: 0 0 0 10px;
  padding: 0;
  width: 75%;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #313030;
  border: 0;
  outline: none;
  background-color: transparent;
}

@media screen and (max-width: 640px) {
  .search__form__input {
    margin-left: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.search__input::placeholder {
  opacity: 0.7;
  color: #a0a0a0;
}

.search__form__button {
  margin: 0 0 0 26px;
  padding: 0;
  height: 34px;
  width: 34px;
  border: 0;
  background: transparent url('../../images/search__form__button.svg');
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .search__form__button {
    margin: 0 0 0 16px;
  }
}

.search__form__short-films {
  margin: 0 0 0 29px;
  padding: 0;
  width: 20%;
  min-width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .search__form__short-films {
    margin-left: 19px;
  }
}

@media screen and (max-width: 760px) {
  .search__form__short-films {
    width: 148px;
    margin: 46px auto 0;
  }
}

.search__form__checkbox {
  margin: 0;
  padding: 0;
}

.search__form__text {
  margin: 0 0 0 14px;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: black;
}

@media screen and (max-width: 320px) {
  .search__form__text {
    margin: 0 0 0 13px;
    font-size: 11px;
    line-height: 18px;
  }
}

.card-list {
  margin: 69px 0 0;
  padding: 80px 0 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e8e8e8;
}

@media screen and (max-width: 768px) {
  .card-list {
    margin-top: 109px;
    padding-top: 45px;
  }
}

@media screen and (max-width: 440px) {
  .card-list {
    margin-top: 45px;
    padding-top: 50px;
  }
}

.card-list__container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 28px;
  grid-auto-flow: dense;
}

@media screen and (max-width: 920px) {
  .card-list__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 24px;
  }
}

@media screen and (max-width: 580px) {
  .card-list__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

.card-list__button {
  margin: 50px auto 0;
  padding: 0;
  height: 36px;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: black;
  transition: 0.1s linear;
}

@media screen and (max-width: 768px) {
  .card-list__button {
    margin-top: 80px;
  }
}

@media screen and (max-width: 580px) {
  .card-list__button {
    max-width: 240px;
  }
}

.card-list__button:hover {
  opacity: 0.7;
  border-radius: 0;
}
